<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<!-- Normalize.css -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

	<!-- jQuery is necessary for reasons that I do not understand -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Bootstrap: Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Bootstrap: Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Underscore -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<!-- My Angular / JS : -->
	<script type="text/javascript" src="angular/appModule.js"></script>
	<script type="text/javascript" src="angular/userFactory.js"></script>
	<script type="text/javascript" src="angular/quoteGetFactory.js"></script>
	<script type="text/javascript" src="angular/quote/quoteFactory.js"></script>
	<script type="text/javascript" src="angular/quote/quoteDisplayController.js"></script>
	<script type="text/javascript" src="angular/ratings/ratingsController.js"></script>
	<script type="text/javascript" src="angular/randoQuote.js"></script>
	<script type="text/javascript" src="angular/formController.js"></script>
</head>
<body>
	<div class="page-header">
		<h1>Inspire</h1>
		<h2>Because talking is more important than doing</h2>
	</div>

<button ng-controller="randoController" class="pull-right random-button" ng-click="randomQuote()">Random Quote</button>

	<div class="container">
		<div class="nav-buttons">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#get-inspired" data-toggle="tab">Get Inspired</a></li>
				<li><a href="#add-quote" data-toggle="tab">Submit a Quote</a></li>
			</ul>
			<br>
		</div>
		<div class="tab-content">
			<div id="get-inspired" class="tab-pane in active">
				<h3>Inspiration</h3>
				<div ng-controller="quoteDisplayController">
					<div ng-repeat="quote in quotes" class="row quote-row">
						<p><span class="pulled-quotes pull-left">&ldquo;</span>{{quote.quote.content}}<span class="pulled-quotes pull-right">&rdquo;</span></p>
						<p> <span class="author-name">-- {{quote.author.fname}} {{quote.author.lname}} </span> <span class="quote-author-desc">{{quote.author.desc | uppercase}}</span></p>
						<p class="text-muted quote-context">{{quote.quote.context}}</p>
						<div class="ratings-container" ng-controller="ratingsController">
							<div class="ratings-stars pull-right"  ng-repeat="star in quote.starsArray track by $index" ng-mouseleave="quote.status.hover = 0">
								<span class="glyphicon glyphicon-star" ng-show="star" ng-class="{'ratings-stars-hover' : (quote.status.hover > 4-$index) || (starsDisplay(quote.metadata.id)[$index] && user.hasRated(quote.metadata.id))}" ng-click="starClick(quote.metadata.id, 4-$index); record(starsDisplay(quote.metadata.id))" ng-mouseenter="quote.status.hover = 5-$index"></span>
								<span class="glyphicon glyphicon-star-empty" ng-show="!star" ng-class="{'ratings-stars-hover' : (quote.status.hover > 4-$index) || (starsDisplay(quote.metadata.id)[$index] && user.hasRated(quote.metadata.id))}" ng-click="starClick(quote.metadata.id, 4-$index)" ng-mouseenter="quote.status.hover = 5-$index"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="add-quote" class="tab-pane" ng-controller="formController">
				<h3>Share your Inspiration</h3>
				<p>Share a quote with the world because everyone totally cares what you think and you're a beautifl unique special snowflake</p>
				<form>
					<div class="form-container">
						<label for="form-author">Author</label>
						<br>
						<input type="text" class="form-author" placeholder="First Name" ng-model="form.author.fname" ng-class="{'invalid-form' : formStatus.fname === -1}"/>
						<input type="text" class="form-author pull-right danger" placeholder="Last Name" ng-model="form.author.lname" ng-class="{'invalid-form' : formStatus.lname === -1}"/>
						<label for="form-content">Find something inspiring and totally don't make up some bullshit</label>
						<textarea class="form-control" rows="3" id="form-content" ng-model="form.quote.content" ng-class="{'invalid-form' : formStatus.content === -1}"></textarea>
						<label for="form-author-desc" >About the Author</label>
						<input type="text" class="form-control" id="form-author-desc" ng-model="form.author.desc" />
						<label for="form-quote-context">Quote Context</label>
						<input type="text" id="form-quote-context" class="form-control" ng-model="form.quote.context" />
						<input type="button" value="Submit" ng-click="submitButton()"/>
						<input type="button" value="Random Quote" ng-click="randomQuote()" />
					</div>
				</form>
			</div>
		</div>

	</div>



</body>
</html>