* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.page-header {
  background-image: url("https://thetruthwarrior.files.wordpress.com/2013/11/inspiring-landscapes-photography-part14-2-1.jpg");
}
.page-header h1,
.page-header h2 {
  color: #fff;
}
.quote-row {
  border-bottom: 1px #808080 dotted;
  text-align: center;
}
.pulled-quotes {
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}
.author-name {
  font-weight: bold;
}
.author-desc {
  font-weight: light;
}
