*
	box-sizing border-box

body
	margin 0
	padding 0
	
.page-header
	background-image url("https://thetruthwarrior.files.wordpress.com/2013/11/inspiring-landscapes-photography-part14-2-1.jpg")
	h1,h2
		color white

.quote
	&-row
		border-bottom 1px grey dotted
		text-align center
	&-context
		font-size 85%
		font-style italic
	&-author-desc
		font-weight bold
		font-size 90%

.pulled-quotes
	color #903
	font-size 75px
	line-height 60px
	padding-top 4px
	padding-right 8px
	padding-left 3px
	font-family Georgia

.author
	&-name
		font-weight bold
	&-desc
		font-weight light